.heroBanner {
  padding: 8rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroContainer {
  z-index: 1;
  position: relative;
}

.title {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  opacity: 0.9;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    height: auto;
    min-height: 80vh;
  }
  .title {
    font-size: 3rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.mainContent {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}